
<div class="container">
  <!-- Box evento -->
  <div *ngIf="evento" class="event-card">
    <div class="event-header">
      <h2><i class="bi bi-calendar-event"></i> Dettagli Evento</h2>
      <div class="date-time-container">
        <p class="date-time">
          <i class="bi bi-calendar"></i>
          {{ evento?.dataEOrario | date:'EEEE d MMMM y, HH:mm':'it' }}
        </p>
      </div>
      <span class="status badge" [ngClass]="getBadgeClass(evento.tipologia)">{{ evento.tipologia }}</span>
    </div>

    <div class="buttons-container">
      <!-- Pulsante "Modifica Stato" -->
     
      <!-- Pulsante "Gestisci Evento" -->
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <i class="bi bi-gear"></i> Gestisci Evento
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="onEventoEdit()"><i class="bi bi-pencil"></i> Modifica</a></li>
          <li><a class="dropdown-item text-danger" (click)="onDeleteEvento()"><i class="bi bi-trash"></i> Elimina</a></li>
        </ul>
      </div>
    </div>

    <!-- Dettagli evento -->
    <div class="event-details">
      <div class="details-grid">
        <div class="detail-item">
          <i class="bi bi-clipboard-check"></i>
          <span>tipologia:</span> <strong>{{ evento.tipologia }}</strong>
        </div>
        <div class="detail-item">
          <i class="bi bi-chat-left-text"></i>
          <span>Descrizione:</span> <strong>{{ evento.descrizione || 'Nessuna descrizione' }}</strong>
        </div>
        <div class="detail-item">
          <i class="bi bi-person"></i>
          <span>data:</span> <strong>{{ evento.dataEOrario }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
