<h2 mat-dialog-title>Aggiungi una nota</h2>
<mat-dialog-content>
      <mat-form-field class="full-width">
      <mat-label>Contenuto</mat-label>
    <textarea matInput [(ngModel)]="nota.contenuto"
      (click)="apriEditorContenuto()"
    required
     placeholder="Inserisci il contenuto della nota..."
       style="resize: vertical; overflow: auto;"></textarea>
     <mat-hint class="hint-text">Fai clic per ingrandire e modificare</mat-hint>
    </mat-form-field>

 <!-- Campo Tipo Nota -->
  <mat-form-field appearance="fill">
    <mat-label>Tipo Nota</mat-label>
    <mat-select [(ngModel)]="nota.tipoNota" required>
      <mat-option value="medica">Medica</mat-option>
      <mat-option value="osservazione">Osservazione</mat-option>
      <mat-option value="altro">Altro</mat-option>
    </mat-select>
  </mat-form-field>

   <!-- Campo Priorità -->
  <mat-form-field appearance="fill">
    <mat-label>Priorità</mat-label>
    <mat-select [(ngModel)]="nota.priorita" required>
      <mat-option value="alta">Alta</mat-option>
      <mat-option value="media">Media</mat-option>
      <mat-option value="bassa">Bassa</mat-option>
    </mat-select>
  </mat-form-field>

   <!-- Visibilità -->
  <mat-checkbox [(ngModel)]="nota.visibilita">Visibile</mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Annulla</button>
  <button mat-button color="primary" (click)="confermaAggiuntaNota()">Aggiungi Nota</button>
</mat-dialog-actions>
