<!-- Alert per nessun piano attivo -->
<div class="form-group">
  <label for="trattamentoSelect">Seleziona Piano di Trattamento</label>
  <ng-select 
    id="trattamentoSelect"
     class="custom-dropdown"
    [items]="treatmentPlans"        
    bindLabel="nomePiano"           
    [(ngModel)]="trattamentoSelezionato" 
    (change)="selezionaTrattamento(trattamentoSelezionato)"> <!-- Evento per la selezione -->
    
    <!-- Personalizzazione delle opzioni nel dropdown -->
    <ng-template let-item="item" ng-option-tmp>
      <div class="option-container" 
           [ngClass]="{
           'active-plan': item.attivo,
             'inactive-plan': !item.attivo
           }">
             <i class="bi bi-check-circle-fill me-2" *ngIf="item.attivo"></i>
        <i class="bi bi-x-circle-fill me-2" *ngIf="!item.attivo"></i>
        {{ item.nomePiano }} - 
          <span class="status-text">{{ item.attivo ? 'ATTIVO' : 'NON ATTIVO' }}</span>
      </div>
    </ng-template>
  </ng-select>
</div>
<div *ngIf="showNoPlanAlert" class="alert alert-warning alert-dismissible fade show custom-no-plan-alert" role="alert">
  <div class="d-flex align-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill me-3" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      <h5 class="alert-heading">Nessun Piano di Trattamento Attivo</h5>
      <p class="mb-0">Per aggiungere appuntamenti o eventi, crea un nuovo piano di trattamento.</p>
    </div>
  </div>
  <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
  <div class="mt-3">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPlanModal">
      <i class="bi bi-plus-circle me-2"></i>Crea Nuovo Piano
    </button>
  </div>
</div>



<!-- Mostra il resto della UI solo se un trattamento è selezionato -->
<div id="mainContent" tabindex="-1" *ngIf="trattamentoSelezionato">
  <!-- Colonna sinistra: Appuntamenti -->
  <div class="row d-flex">
    <div class="col-md-6 d-flex flex-column">
      <div class="section p-3 border">
        <h3>Appuntamenti</h3>
        <button class="btn btn-primary mb-3" (click)="toggleTabella('appointments')">
          {{ showAppointmentsTable ? 'Nascondi Appuntamenti' : 'Mostra Appuntamenti' }}
        </button>
       <!-- *ngIf="showAppointmentsTable"-->
        <div  [hidden]="!showAppointmentsTable">
       
          <!-- Filtri Appuntamenti -->
          <div class="filter-section mb-3">
            <h5>Filtra Appuntamenti</h5>
            <form (ngSubmit)="applyAppointmentsFilters()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Stato</mat-label>
                    <mat-select [(value)]="appointmentsFilters.stato" name="stato" [ngModelOptions]="{standalone: true}">
                      <mat-option value="">Tutti</mat-option>
                      <mat-option value="futuro">Futuro</mat-option>
                      <mat-option value="eseguito">Eseguito</mat-option>
                      <mat-option value="sospeso">Sospeso</mat-option>
                      <mat-option value="annullato">Annullato</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Data Appuntamento</mat-label>
                    <input matInput [matDatepicker]="pickerAppointments" [(ngModel)]="appointmentsFilters.dataEOrario" name="dataEOrario" [ngModelOptions]="{standalone: true}" />
                    <mat-datepicker-toggle matSuffix [for]="pickerAppointments"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAppointments></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button color="primary" type="submit" class="mt-2 w-100">Applica Filtro</button>
            </form>
            <button mat-button (click)="resetAppointmentsFilters()">Resetta Filtro</button>
               <button
               *ngIf="trattamentoSelezionato?.attivo"
          type="button"
          class="btn btn-secondary"
         data-bs-toggle="modal"
        data-bs-target="#addAppointmentModal"
        >
          Aggiungi Appuntamento
        </button>
          </div>

          <!-- Tabella delle Tappe -->
          <table mat-table [dataSource]="dataSourceAppointments" matSort class="w-100" [hidden]="!showAppointmentsTable">
            <ng-container matColumnDef="dataEOrario">
              <th mat-header-cell *matHeaderCellDef>Data e Orario</th>
              <td mat-cell *matCellDef="let appointment">
                <span>{{ appointment.dataEOrario | date:'dd/MM/yyyy'}}</span>
                <span class="time-separator"> - </span>
                <span class="time">{{aggiungiDueOre(appointment.dataEOrario) }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="stato">
              <th mat-header-cell *matHeaderCellDef>Stato</th>
              <td mat-cell *matCellDef="let appointment" >{{ appointment.stato }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['dataEOrario', 'stato']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['dataEOrario', 'stato']" (click)="trattamentoSelezionato.attivo ? vaiAiDettagliAppuntamento(row) : null" class="clickable-row"></tr>
          </table>
          <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>

    <!-- Colonna destra: Eventi -->
    <div class="col-md-6 d-flex flex-column">
      <div class="section p-3 border">
        <h3>Eventi di promemoria</h3>
        <button class="btn btn-primary mb-3" (click)="toggleTabella('events')">
          {{ showEventsTable ? 'Nascondi Eventi' : 'Mostra Eventi' }}
        </button>
        <!-- <div *ngIf="showEventsTable"> -->
        <div [hidden]="!showEventsTable">
          <!-- Filtri Eventi -->
          <div class="filter-section mb-3">
            <h5>Filtra Eventi</h5>
            <form (ngSubmit)="applyEventsFilters()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Tipologia</mat-label>
                    <mat-select [(value)]="eventsFilters.tipologia">
                      <mat-option value="">Tutti</mat-option>
                      <mat-option value="modifica_terapia">Modifica terapia</mat-option>
                      <mat-option value="promemoria_trattamento">Promemoria trattamento</mat-option>
                      <mat-option value="follow_up_psichiatrico">Follow Up psichiatrico</mat-option>
                      <mat-option value="nota_clinica">Nota clinica</mat-option>
                      <mat-option value="comunicazione_con_familiari">Comunicazione con familiari</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Data</mat-label>
                    <input matInput [matDatepicker]="pickerEvents" [(ngModel)]="eventsFilters.dataEOrario" />
                    <mat-datepicker-toggle matSuffix [for]="pickerEvents"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEvents></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button color="primary" type="submit" class="mt-2 w-100">Applica Filtro</button>
            </form>
            <button mat-button (click)="resetEventsFilters()">Resetta Filtro</button>
               <button
          type="button"
          *ngIf="trattamentoSelezionato?.attivo" 
          class="btn btn-secondary"
          data-bs-toggle="modal"
        data-bs-target="#addEventModal"
        >
          Aggiungi Evento
        </button>
          </div>

          <!-- Tabella degli Eventi -->
          <table mat-table [dataSource]="dataSourceEvents" matSort class="w-100"  [hidden]="!showEventsTable">
            <ng-container matColumnDef="descrizione">
              <th mat-header-cell *matHeaderCellDef>Descrizione</th>
              <td mat-cell *matCellDef="let event">{{ event.descrizione }}</td>
            </ng-container>
            <ng-container matColumnDef="tipologia">
              <th mat-header-cell *matHeaderCellDef>Tipologia</th>
              <td mat-cell *matCellDef="let event">{{ event.tipologia }}</td>
            </ng-container>
            <ng-container matColumnDef="dataEOrario">
              <th mat-header-cell *matHeaderCellDef>Data</th>
              <td mat-cell *matCellDef="let event">{{ event.dataEOrario | date: 'dd/MM/yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="deleted">
              <th mat-header-cell *matHeaderCellDef>Deleted</th>
              <td mat-cell *matCellDef="let event">{{ event.deleted ? 'Sì' : 'No' }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['descrizione', 'tipologia', 'dataEOrario', 'deleted']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['descrizione', 'tipologia', 'dataEOrario', 'deleted']" 
             [ngClass]="{'deleted-event': row.deleted}" 
            (click)="trattamentoSelezionato.attivo ? vaiAiDettagliEvento(row): null" 
             class="clickable-row"></tr>
          </table>
          <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottone per mostrare/nascondere la tabella dei farmaci -->
  <button class="btn btn-primary mb-3" (click)="toggleTabellaVisibile()">
    {{ tabellaVisibile ? 'Nascondi Farmaci Attivi' : 'Mostra Farmaci Attivi del trattamento' }}
  </button>

  <!-- Tabella dei farmaci (sotto le tabelle degli appuntamenti e degli eventi) -->
  <!-- <div *ngIf="tabellaVisibile"> -->
    <div [hidden]="!tabellaVisibile">
    <table mat-table [dataSource]="dataSourceFarmaci" matSort class="mat-elevation-z1" [hidden]="!tabellaVisibile">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let farmaco">{{ farmaco.nomeFarmaco }}</td>
      </ng-container>

      <ng-container matColumnDef="dosaggio">
        <th mat-header-cell *matHeaderCellDef>Dosaggio</th>
        <td mat-cell *matCellDef="let farmaco">{{ farmaco.dosaggio }}</td>
      </ng-container>

      <ng-container matColumnDef="frequenza">
        <th mat-header-cell *matHeaderCellDef>Frequenza</th>
        <td mat-cell *matCellDef="let farmaco">{{ farmaco.frequenza }}</td>
      </ng-container>

      <ng-container matColumnDef="dataInizioAttivi">
        <th mat-header-cell *matHeaderCellDef>Data Inizio</th>
        <td mat-cell *matCellDef="let farmaco">{{ farmaco.dataInizioTrattamento | date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    <mat-paginator #paginatorFarmaci="matPaginator" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>


<!-- Modale per aggiungere un Appuntamento -->
<div
  class="modal fade"
  id="addAppointmentModal"
   #addAppointmentModal
  tabindex="-1"
  aria-labelledby="addAppointmentModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAppointmentModalLabel">Aggiungi Appuntamento</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitNewAppointment()" #stepForm="ngForm">
<div class="mb-3">
    <label for="statoAppuntamento" class="form-label">Stato Appuntamento</label>
    <select
      id="statoAppuntamento"
      name="statoAppuntamento"
      class="form-select"
      [(ngModel)]="newAppointment.stato"
      required
    >
      <option value="futuro">Futuro</option>
    <option value="eseguito">Eseguito</option>
  </select>
  </div>
          <div class="mb-3">
            <label for="dataAppuntamento" class="form-label"
              >Data Appuntamento</label
            >
            <input
              type="date"
              id="dataAppuntamento"
              name="dataAppuntamento"
              class="form-control"
              [(ngModel)]="newAppointmentDate"
              required
            />
          </div>

<div class="mb-3">
  <label for="orarioAppuntamento" class="form-label">Orario</label>
  <select
    id="orarioAppuntamento"
    name="orarioAppuntamento"
    class="form-select"
    [(ngModel)]="newAppointmentHour"
    required
  >
    <option *ngFor="let ora of orariDisponibili" [value]="ora">{{ ora }}</option>
  </select>
</div>

          <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <input
              type="text"
              id="note"
              name="note"
              class="form-control"
              [(ngModel)]="newAppointment.note"
            />
          </div>

            <div class="mb-3">
            <label for="trattamento" class="form-label">Trattamento</label>
            <input
              type="text"
              id="trattamento"
              name="trattamento"
              class="form-control"
              [(ngModel)]="newAppointment.trattamento"
            />
          </div>
        
          <button type="submit" class="btn btn-success" [disabled]="!stepForm.valid">Aggiungi</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
           
          >
            Annulla
          </button>
        </form>
      </div>
    </div>h
  </div>
</div>


<div
  class="modal fade"
  id="addEventModal"
    #addEventModal
  tabindex="-1"
  aria-labelledby="addEventModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEventModalLabel">Aggiungi Evento</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitNewEvent()" #eventForm="ngForm">
           <div class="mb-3">
            <label for="tipoEvento" class="form-label">Tipo di Evento</label>
            <select
              id="tipoEvento"
              name="tipoEvento"
              class="form-select"
              [(ngModel)]="newEvent.tipologia"
              required
            >
              <option value="modificaTerapia">Modifica Terapia</option>
              <option value="promemoriaTrattamento">Promemoria Trattamento</option>
              <option value="followUpPsichiatrico">Follow-Up Psichiatrico</option>
              <option value="notaClinica">Nota Clinica</option>
              <option value="comunicazioneFamiliari">Comunicazione con Familiari</option>
              <option value="promemoriaScreening">Promemoria per Screening/Test</option>
              <option value="obiettiviTrattamento">Obiettivi del Trattamento</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="descrizione" class="form-label">Descrizione</label>
            <input
              type="text"
              id="descrizione"
              name="descrizione"
              class="form-control"
              [(ngModel)]="newEvent.descrizione"
              required
            />
          </div>
          <div class="mb-3">
            <label for="dataAppuntamento" class="form-label"
              >Data</label
            >
            <input
              type="date"
              id="dataEOrario"
              name="dataEOrario"
              class="form-control"
              [(ngModel)]="newEventDate"
              required
            />
          </div>
          <!-- <div class="mb-3">
            <label for="statoAvanzamento" class="form-label"
              >Completato</label
            >
            <input
              type="text"
              id="deleted"
              name="deleted"
              class="form-control"
              [(ngModel)]="newEvent.deleted"
              required
            />
          </div> -->
          <button type="submit" class="btn btn-success">Aggiungi</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Annulla
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Bottone per disattivare il piano -->
<div *ngIf="trattamentoSelezionato && trattamentoSelezionato.attivo" class="container-disattiva">
  <button mat-raised-button color="warn" class="btn-disattiva" (click)="openConfirmationModal(trattamentoSelezionato.id)">
    <mat-icon>warning</mat-icon> Disattiva Piano
  </button>
</div>


<div class="modal fade" id="createPlanModal" tabindex="-1" aria-labelledby="createPlanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPlanModalLabel">Crea Nuovo Piano</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="planName">Nome del Piano:</label>
        <input type="text" id="planName" class="form-control" [(ngModel)]="newPlanName" placeholder="Inserisci il nome">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
         <button type="button" class="btn btn-success" (click)="checkAndCreatePlan()">Avanti</button>
      </div>
    </div>
  </div>
</div>

<!-- Modale di Conferma -->
<div class="modal fade" id="confirmDeactivateModal" tabindex="-1" aria-labelledby="confirmDeactivateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeactivateModalLabel">Conferma Disattivazione</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Esiste già un piano attivo. Vuoi disattivarlo per creare un nuovo piano?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" (click)="deactivateAndCreatePlan()">Sì, disattiva e crea</button>
      </div>
    </div>
  </div>
</div>