<div class="container-fluid mt-4">
  <!-- Titolo principale con design migliore -->
  <h2 class="text-center mb-4 main-title">Gestione Allegati</h2>

  <div *ngIf="isUploading" class="spinner-border" role="status">
  <span class="sr-only">Caricamento...</span>
</div>

  <!-- Upload File -->
  <div class="mb-4 text-center">
    <input type="file" (change)="onFileSelected($event)" class="form-control d-inline-block" style="width: 350px; border-radius: 25px;">
    <button class="btn btn-primary mt-3" (click)="uploadFile()" [disabled]="!fileToUpload" style="border-radius: 25px; font-size: 1.1em;">Carica Allegato</button>
  </div>

  <!-- Anteprima del file (solo per immagini) -->
<div *ngIf="previewUrl">
  <img [src]="previewUrl" alt="Preview" class="img-fluid" style="max-height: 200px;"/>
</div>

<!-- Campo di ricerca per filtrare gli allegati -->
<input type="text" [(ngModel)]="searchText" placeholder="Cerca per nome" class="form-control mb-3">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nome File</th>
        <th>Tipo</th>
        <th>Data Caricamento</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let allegato of filteredAllegati  | slice: pageIndex * pageSize : (pageIndex + 1) * pageSize">
        <td (click)="viewFile(allegato.id, allegato.tipoFile)" class="file-title">
          {{ allegato.nomeFile }}
        </td>
        <td class="file-type">{{ allegato.tipoFile }}</td>
        <td class="upload-date">{{ allegato.dataCaricamento | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn-success btn-sm" (click)="downloadFile(allegato.id, allegato.nomeFile)">Scarica</button>
          <button class="btn btn-danger btn-sm" (click)="deleteFile(allegato.id)">Elimina</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- Paginatore Material -->
  <mat-paginator [length]="totalFiles"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[3, 5, 10, 20]"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>
