.btn-group {
  margin-top: 15px;
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-menu li a {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}
