

<!-- <ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#006400"
  type="triangle-skew-spin">
  <p style="color: white; font-size: 18px; text-align: center;">
    In attesa di guarire i dati...
  </p>
</ngx-spinner> -->
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#006400"
  type="ball-atom">
  <p style="color: white; font-size: 18px; text-align: center;">
   Caricamento in corso...
  </p>
</ngx-spinner>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<app-header *ngIf="showHeader && isAuthenticated && isDoctor"></app-header>
  
<div *ngIf="!isLoginPage()">
<button class="btn btn-secondary d-none d-md-inline" (click)="goBack()">Indietro</button>
  <button class="btn btn-primary d-none d-md-inline" (click)="goForward()">Avanti</button>
</div>
  
<div class="container">
  <!-- <div class="row">
    <div class="col-md-12"> -->
      <router-outlet></router-outlet>
    <!-- </div>
  </div> -->
</div>
