.appointment-card {
  text-decoration: none;
  margin-bottom: 15px; /* Margine ridotto */
  display: block;
}

.custom-card {
   background-color: #f0f8ff; /* Celeste chiaro */
  border: 1px solid #00aaff; /* Celeste più scuro */
  border-radius: 8px; /* Raggio ridotto */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra più piccola */
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
  transform: translateY(-3px); /* Altezza minore */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombra minore */
}

.custom-card .card-body {
  padding: 15px; /* Padding ridotto */
}

.custom-card .card-title {
  font-size: 1.25rem; /* Dimensione del titolo ridotta */
  margin-bottom: 8px; /* Margine ridotto */
  color: #333;
}

.custom-card .card-text {
  font-size: 0.9rem; /* Dimensione del testo ridotta */
  color: #555;
}

.custom-card .card-text ul {
  padding-left: 0;
  list-style-type: none; /* Rimuovi i punti elenco predefiniti */
}

.custom-card .card-text ul li {
  margin-bottom: 8px; /* Margine ridotto */
  padding: 8px; /* Padding ridotto */
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
}

.custom-card .card-text ul li strong {
  color: #000;
  margin-right: 8px; /* Margine ridotto */
}

.custom-card .card-text ul li::before {
  content: '\2022'; /* Carattere punto elenco */
  color: #007bff; /* Colore del punto elenco */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


.custom-ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #9bcde4; /* Sfondo più chiaro per ogni elemento */
  border-left: 5px solid #00aaff; /* Linea a sinistra degli elementi in celeste */
  border-radius: 5px;
  font-size: 16px;
}


.custom-ul li strong {
  color: #0077cc; /* Celeste scuro per i titoli */
}

button {
  margin-left: 10px;
}