 <div class="card custom-card">
      <div class="card-body">
            <ul class="custom-ul">
                 <li><strong>DATA/ORARIO:</strong> {{ appuntamento?.dataEOrario | date:'short' }}</li>
               <li><strong>NOTE:</strong> {{ appuntamento?.note }}</li>
               <li><strong>TRATTAMENTO:</strong> {{ appuntamento?.trattamento }}</li>
            <li><strong>CF PAZIENTE:</strong> {{ appuntamento?.codiceFiscalePaziente }}</li> 
            </ul>
         <button class="btn btn-success" data-bs-toggle="tooltip" (click)="onViewDetails()">Dettagli Appuntamento  <i class="bi bi-clipboard2-data"></i></button>
         <!-- <button class="btn btn-warning" data-bs-toggle="tooltip" (click)="onViewFatturazione()">Dettagli Fatturazione  <i class="bi bi-currency-exchange"></i></button> -->
         </div>
      </div>

