
 <!-- ***************** SE ENTRO COME PAZIENTE -->

  <!-- <div *ngIf="!(isDoctor)">
 
</div>  -->



<!-- ***************** SE ENTRO COME dottore *****************-->
<!-- <div class="dashboard-container">
  
  <nav class="sidebar">
    <ul class="nav">
      <li><button class="nav-btn" (click)="navigateToNewAppointment()"><i class="bi bi-calendar-plus"></i> Prenota</button></li>
      <li><button class="nav-btn" (click)="viewUpcomingAppointments()"><i class="bi bi-calendar-day"></i> Futuri</button></li>
      <li><button class="nav-btn" (click)="navigateToPazienti()"><i class="bi bi-person-badge"></i> Pazienti</button></li>
      <li><button class="nav-btn" (click)="navigateToSettings()"><i class="bi bi-gear"></i> Impostazioni</button></li>
    </ul>
  </nav>

  <div class="main-content">
    <h1 class="dashboard-title">📅 Appuntamenti di Oggi</h1>

    <div *ngIf="todayAppointments.length > 0; ">
      <div class="appointments-grid">
        <div class="appointment-card" *ngFor="let appuntamento of paginatedTodayAppointments">
          <div class="card-header">
            <span class="appointment-time">{{ appuntamento.dataEOrario | date:'shortTime' }}</span>
            <span [innerHTML]="getStatoIcon(appuntamento.stato)" class="status-icon"></span>
          </div>
          <div class="card-body">
            <p><strong>👤 Nome:</strong> {{ appuntamento.paziente?.nome }}</p>
            <p><strong>💉 Cognome:</strong> {{ appuntamento.paziente?.cognome }}</p>
             <p><strong>💉 Numero di cellulare:</strong> {{ appuntamento.paziente?.numeroDiCellulare }}</p>
              <p><strong>💉 Codice fiscale:</strong> {{ appuntamento.paziente?.codiceFiscale }}</p>
            <p><strong>📝 Note:</strong> {{ appuntamento.note || 'Nessuna nota' }}</p>
          </div>
          <div class="card-footer">
            <button class="btn-details" (click)="onSelectAppuntamento(appuntamento.id)">
              <i class="bi bi-info-circle"></i> Dettagli
            </button>
          </div>
        </div>
      </div>

      <div class="pagination-controls">
        <button class="pagination-btn" (click)="previousPage()" [disabled]="!hasPreviousPage()"><i class="bi bi-arrow-left-circle"></i> Indietro</button>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="!hasNextPage()"><i class="bi bi-arrow-right-circle"></i> Avanti</button>
      </div>
    </div>

  </div>

</div>
 -->
