/* Styling for invalid input fields */
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

/* General form styles */
form {
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px rgb(33, 22, 22)a(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
}

.form-section {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: #fbf6f6;
    color: #141414;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Button styles */
button {
    margin-top: 10px;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button.btn-success {
    background-color: #28a745;
    color: white;
}

button.btn-success:hover {
    background-color: #218838;
}

button.btn-danger {
    background-color: #dc3545;
    color: white;
}

button.btn-danger:hover {
    background-color: #c82333;
}

/* Material row styles */
.material-row {
    margin-top: 10px;
}

.material-row .form-control {
    margin-bottom: 5px;
}

.material-row .btn-danger {
    width: 100%;
}

/* Align buttons to the right */
.text-right {
    text-align: right;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #eee;
}

/* Additional styles for responsive design */
@media (max-width: 767px) {
    form {
        width: 90%;
    }

    .text-right {
        text-align: left;
    }

    .material-row .btn-danger {
        margin-top: 10px;
    }
}

.theme-dark-blue .bs-datepicker {
  background-color: #1c1c1c; /* Sfondo scuro */
  color: #f1f1f1; /* Testo chiaro */
}

.theme-dark-blue .bs-datepicker .datepicker-days th,
.theme-dark-blue .bs-datepicker .datepicker-days td {
  border: 1px solid #444; /* Bordi scuri */
  padding: 8px; /* Padding */
}

